{% extends 'layout.html' %}
{% block content %}

<!-- 8 - 4 grid -->
  <div class="row">
    <div class="col-md-8">
    <div id="map-canvas"></div>
    </div>

    <div class="col-md-4">
    <!-- FORM -->
    <div class="box">

      <form class="form-selector">

        <div class="form-group">
        <label><h4>Hotels</h4></label>
        <select data-type='hotel' class="change h">
        </select>
        </div>

        <div class="form-group">
        <label><h4>Restaurants</h4></label>  
        <select data-type='restaurant' class="change r">

        </select>
        </div>

        <div class="form-group">
        <label><h4>Activities</h4></label>
        <select data-type='activity' class="change a">

        </select>
        </div>
        </div>
         
      </form>

    <!-- LIST -->
    <div class="box">

    <div class="day-display">
<!-- INSERT DAY INFO -->
      <h2 class="day-display">DAY #</h2>
    </div>
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">
      
    </span></br> 

    <!-- Day Number Buttons -->
    <p class="badge day" id = "1">1</p>

    <p class="badge addDay">+</p>
<hr>
    <!-- Selections -->
    <section class="selections">
      <h4>DAY # Hotel</h4>
      <li>HOTEL NAME</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <h4>My Restaurants</h4>
      <li>RESTAURANT </li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <h4>My Activities</h4>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
   
    </section>
    </div>
  </div>

{% endblock %}