{% extends 'layout.html' %}
{% block content %}

<!-- 8 - 4 grid -->
  <div class="row">
    <div class="col-md-8">
      <img src="http://placehold.it/750x150">
    </div>

    <div class="col-md-4">
    <!-- FORM -->
    <div class="box">

      <form class="form-selector">

        <div class="form-group">
        <label><h4>Hotels</h4></label>
        <select name="select">
          {% for hotel in hotels%}
          <option name ="{{hotel.name}}">{{hotel.name}}</option>
          {% endfor %}
        </select>
        </div>

        <div class="form-group">
        <label><h4>Restaurants</h4></label>  
        <select name="select">
          {% for restaurant in restaurants%}
          <option name ="{{restaurant.name}}">{{restaurant.name}}</option> 
          {% endfor %}
        </select>
        </div>

        <div class="form-group">
        <label><h4>Activities</h4></label>
        <select name="select">
          {% for activity in activities%}
          <option name ="{{activity.name}}">{{activity.name}}</option>
          {% endfor %}  
        </select>
        </div>
        </div>
         
      </form>

    <!-- LIST -->
    <div class="box">

    <div class="day-display">
      <h2 class="day-display">DAY 2</h2>
    </div><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>

    <!-- Day Number Buttons -->
    <p class="badge">1</p>
    <p class="badge">2</p>
    <p class="badge">3</p>
    <p class="badge">4</p>

    <!-- Selections -->
    <section class="selections">
      <h4>My Hotel</h4>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <h4>My Restaurants</h4>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <h4>My Activities</h4>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
      <li>Test</li> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></br>
    </section>
    </div>
  </div>

{% endblock %}