body {
  background-color: #4a8dac;
  /*color: $primary-clean;*/ }

label, h4 {
  color: #fc4a1a;
  margin: 0 0 5px 0;
  font-size: 17px; }

li {
  display: inline;
  padding: 0 15px 0 0;
  list-style-type: none; }

title {
  color: #fc4a1a; }

select {
  display: block;
  width: 80%; }

p, h2 {
  display: inline; }

.day-display {
  margin: 0 15px 0 0;
  display: inline;
  text-align: center; }

.badge {
  display: inline-block;
  margin: 10px 20px 10px 10px;
  background-color: #fc4a1a;
  text-align: center;
  color: black;
  border: solid;
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.selections {
  text-align: left; }

#map-canvas {
  height: 100vh;
  width: 100vh;
  border: solid #dfdce3;
  border-radius: 5%; }

.box {
  background-color: #eeeeee;
  padding: 15px;
  border: solid #dfdce3;
  border-radius: 5%;
  text-align: center;
  margin-bottom: 10px;
  /*background-color: #eeeeee; */
  /* For browsers that do not support gradients */
  /*background-color: -webkit-linear-gradient(left top, #eeeeee;, #fff);*/
  /* For Safari 5.1 to 6.0 */
  /*background-color: -o-linear-gradient(bottom right, #eeeeee;, #fff);*/
  /* For Opera 11.1 to 12.0 */
  /*background-color: -moz-linear-gradient(bottom right, #eeeeee;, #fff);*/
  /* For Firefox 3.6 to 15 */
  /*background-color: linear-gradient(to bottom right, #eeeeee;, #fff);*/
  /* Standard syntax */ }

/* Create the animation blocks */
/*@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
/* Spinning, gradient circle; CSS only! */
/*#spin {

  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  
  /*animation-name: spin; 
  animation-duration: 3s; /* 3 seconds */
/*animation-iteration-count: infinite; 
  animation-timing-function: linear;*/
/*}*/
