/*$primary-color: #fc4a1a;
$primary-teal: #4a8dac;
$primary-yellow: #f7b733;
$primary-clean: #dfdce3;*/
body {
  background-color: #AFDAD6;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; }

/*
.select-style{
  border: 1px solid #ccc;
  width: 130%;
  border-radius: 3px;
  overflow: hidden;
  background: #ccc;
}

.select-style select{
  padding: 5px 8x;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus{
  outline:none;
}*/
label, h4 {
  color: #fe6c3c;
  margin: 0 0 5px 0;
  font-size: 17px; }

li {
  display: inline;
  padding: 0 15px 0 0;
  list-style-type: none; }

title {
  color: #fe6c3c; }

/*.select_style .change{
  display: block;
  width: 80%;
}*/
/*.navbar-default {
   background-color: #22757B ;
   border-color: $primary-clear;
   color: $primary-clear;
}*/
p, h2 {
  display: inline; }

h2 {
  font-weight: 900;
  font-size: 2.5em;
  color: #22757b; }

hr {
  border-color: #AFDAD6; }

.day-display {
  margin: 0 10px 0 0;
  display: inline;
  text-align: center; }

.badge {
  display: inline-block;
  margin: 10px 20px 10px 10px;
  background-color: #fe6c3c;
  text-align: center;
  border: solid #4a8dac;
  width: 35px;
  height: 30px;
  border-radius: 40%;
  box-shadow: 10px 10px 5px #888888; }

.badge {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff; }

.badge:hover {
  background-color: #fc4a1a; }

.badge:active {
  background-color: #fc4a1a;
  box-shadow: 0px 0px 0px #888888;
  transform: translateY(4px); }

.glyphicon-remove-circle {
  border-radius: 50%;
  box-shadow: 3px 3px 3px #888888; }

.selections {
  text-align: left; }

#map-canvas {
  height: 75vh;
  width: 100%;
  border: solid #66b9bf;
  border-radius: 5%;
  margin: 10px 0 0 0;
  box-shadow: 10px 10px 5px #888888; }

.form-group {
  text-align: left; }

.box {
  background-color: #DEE8E7;
  padding: 20px 35px;
  border: solid #66b9bf;
  border-radius: 9%;
  text-align: center;
  margin: 10px 0 10px 0;
  box-shadow: 10px 10px 5px #888888;
  /*background-color: #eeeeee; */
  /* For browsers that do not support gradients */
  /*background-color: -webkit-linear-gradient(left top, #eeeeee;, #fff);*/
  /* For Safari 5.1 to 6.0 */
  /*background-color: -o-linear-gradient(bottom right, #eeeeee;, #fff);*/
  /* For Opera 11.1 to 12.0 */
  /*background-color: -moz-linear-gradient(bottom right, #eeeeee;, #fff);*/
  /* For Firefox 3.6 to 15 */
  /*background-color: linear-gradient(to bottom right, #eeeeee;, #fff);*/
  /* Standard syntax */ }

/* Create the animation blocks */
/*@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
/* Spinning, gradient circle; CSS only! */
/*#spin {

  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  
  /*animation-name: spin; 
  animation-duration: 3s; /* 3 seconds */
/*animation-iteration-count: infinite; 
  animation-timing-function: linear;*/
/*}*/
